input{
    accent-color: #4c00ff;
}
input::placeholder{
    color:rgb(42, 165, 42);
}
input:focus{
    border: none;
    outline: 5px solid #474947;
    border-radius: 10px;
    background-color:pink
}
input:hover{
    border: 5px solid rgb(0, 255, 0);
    

}
::marker{
    color: rgb(65, 100, 200);
}
