pre{
    color:red;
    border:1px solid rebeccapurple;
    background-color: aqua;
}
.heading-1{
    color:red;
    background-color: green;
}
.element-1{
    background-color: green;
}
.para-11{
    color:tomato
}
h1{

    color:red;
    border:1px solid rebeccapurple;
    background-color: aqua;
}
.heading-2{
    color:aliceblue;
    background-color:brown;
}