.container{
    width: 100%;
    display: flex;
    gap:20px;
    
}
.card{
    height: 300px;
    width:230px;
    padding:20px;
    border-radius: 20px;
    background-image: url(fldr/transition1);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
.card:hover{
    background-color:blue ;
}

.footer{
    margin-top: 70px;
    display: flex;
    gap:5px;
}
.text{
    font-size: 12px;
}
img{
    border-radius: 100%;
}
.card-1:hover{
    transform: translateY(8px);
    
}
.cardA{
    height: 300px;
    width:230px;
    padding:20px;
    border-radius: 20px;
    background-image: url(fldr/transition2);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
.cardB{
    height: 300px;
    width:230px;
    padding:20px;
    border-radius: 20px;
    background-image: url(fldr/transition3);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}