<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component13</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-current">
    <div class="container bg-white mt-28 mx-auto p-5">
        <div class="grid grid-cols-3">
            <div>
                <h1 class="font-bold text-2xl">customer services</h1>
                <p class="text-slate-400">info@robowolf.net</p>
            </div>
            <div>
                <h1 class="font-bold text-2xl text-center">Say hello</h1>
                <p class="text-slate-400 text-center">hello@robowolf.net</p>
            </div>
            <div>
                <h1 class="font-bold text-2xl text-end">Phone</h1>
                <p class="text-slate-400 text-end">+7-965-404-1978</p>
            </div>
        </div>
        <hr class="mt-5">
        <div class="center mt-10">
            <h1 class="text-center text-2xl font-bold">Subscribe</h1>
            
                <form class="max-w-sm mx-auto flex gap-12 mt-5 ">
                    <div class="mb-5">
                      
                      <input type="email" id="email" class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ms-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your email" required>
                    </div>
                    <button type="button" class="text-white block bg-gradient-to-r  from-blue-500 via-blue-600 to-blue-700 h-10 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-1 text-center me-2 mb-2 ">sign in</button>
                    
                </form>
                <div class="button text-center">
                    <button class="text-black bg-slate-300 h-12 w-12 rounded-full text-sm p-2.5 text-center  me-2"><i class="fa-brands fa-facebook"></i></button>
                    <button class="text-black bg-slate-300  h-12 w-12 rounded-full text-sm p-2.5 text-center  me-2"><i class="fa-brands fa-twitter"></i></button>
                    <button class="text-black bg-slate-300  h-12 w-12 rounded-full text-sm p-2.5 text-center  me-2"><i class="fa-brands fa-google"></i></button>
                 </div>  
         </div>
         <div class="text flex justify-between text-slate-400">
            <p>Sitemap.privacy @ Robowolf, saint-peterbergs</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
         </div>
    </div>
</body>
</html>
        

    
            
