*{
box-sizing: border-box;
}
.box{
    height: 100vh;
    background-image: url(../CSS/fldr/nature.jpg),url(../CSS/fldr/images.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-blend-mode: normal; */
    /* background-blend-mode: screen; */
}