$flex:flex;
$justify-c:center;
$justify-c-1:space-evenly;
$justify-c-2:space-between;
$text-center:center;

$m-1:auto;
$mt-1:10px;
$p-1:20px;
$p-2:5px;
$font-s-1:larger;
$border-r-1:50px;
$border-1:1px solid black;
