@media (min-width:0px) {
    /* .container{
      max-width: 540px;
    } */
    
     .nav-items nav{
      display: none;
     }
     .mobile-menu{
      display: block;
     }
     .navbar .BUY{
      display:none;
    }
      
}
  
  @media (min-width:768px) {
    /* .container{
      max-width: 720px;
    }
     */
     /* .nav-items nav{
      display: none;
     } */
     /* .mobile-menu{
      display: block;
     } */
    }
    @media (min-width:1024px){
        
         .nav-items nav{
          display: block;
         }
         .mobile-menu{
          display:none;
         }
         .navbar .BUY{
          display:inline-block;
        }
        .BUY a{
          height: 50px;
          /* width: 50%; */
          background-color: green;
          display: flex;
          color:white;
          margin: auto;
          align-items:center;
          justify-content:center;
        }

          
         
     
  
     
     
     
    
}
