.title{
    background-color:burlywood;
    text-align: center;
}
.navbar{
    background-color: aqua;
    display: flex;
    text-align: right;
}
.image{
    display:flex
    padding: 40px;
    align:center;
    background-color:
}
.body{
    background-color: aqua;
}