body{ 
    background-color: purple; 
} 
 
.counter-card { 
    align-items: center; 
    border-radius: 10px; 
    display: flex; 
    height: 200px; 
    justify-content: center; 
    width: 200px; 
    margin: auto; 
    margin-top: 150px; 
} 
 
.count-numbers { 
    animation: count 10s linear infinite forwards; 
    background-color: #f3f3f3; 
    counter-reset: count 0; 
} 
 
.count-numbers::before { 
    color: #000; 
    content: counter(count); 
    font-size: 5rem; 
} 
 
@keyframes count{ 
    0% { 
      counter-increment: count 0; 
    } 
 
    10% { 
      counter-increment: count 1; 
    } 
 
    20% { 
      counter-increment: count 2; 
    } 
 
    30% { 
      counter-increment: count 3; 
    } 
 
    40% { 
      counter-increment: count 4; 
    } 
 
    50% { 
      counter-increment: count 5; 
    } 
 
    60% { 
      counter-increment: count 6; 
    } 
 
    70% { 
      counter-increment: count 7; 
    } 
 
    80% { 
      counter-increment: count 8; 
    } 
 
    90% { 
      counter-increment: count 9; 
    } 
 
    100% { 
      counter-increment: count 10; 
    } 
}